@font-face {
    font-family: "gFont";
    src: url("../폰트/Pretendard-Light.ttf") format('truetype');
    font-display: swap;
    font-style: normal;
}
* {
    margin: 0px;
    padding: 0px;
    word-break: keep-all;
    font-family: "gFont";
}

body {
    display: flex;
}

.section1 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(image/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section1Title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}
.section1Box {
    width: 95%;
    max-width: 1400px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    animation-duration: 1.5s;
    animation-name: slidein;
    padding-top: 20px;
    padding-bottom: 20px;
}
@keyframes slidein {
    from {
        margin-top: 100px;
        filter: opacity(0%);
    }
    to {
        margin-top: 0px;
        filter: opacity(100%);
    }
  }
.section1BoxContent {
    width: 100%;
    max-width: 300px;
    min-width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 0px 1px rgb(184, 184, 184);
    text-align: center;
    margin: 10px;
}
.contentTitle {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 700;
}
.contentTitle2 {
    font-size: 28px;
    margin-bottom: 10px;
}
.contentImg {
    width: 90%;
    height: auto;
    border-radius: 10px;
}
.contentExplain {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
.section1BoxContent > a {
    font-size: 24px;
    text-decoration: none;
    color: blue;
}
.section1BoxContent > a:hover {
    color: blueviolet;
}

.prebutton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: green;
    border: 1px solid green;
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.prebutton:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: 0.5s;
}